$NavHeight: 40px;
/* 主色调 */
$maincolor: #3ab54c;
/* 辅助色 */
$sencondcolor: #fc8a0f;
/* 灰色字体颜色 */
$graycolor: #8a8a8a;
$primary: #409eff;
/* 红色字体 */
$redColor: #d82a2a;
/* 导航色 */
$navColor: #474747;
/* 字体 */
$titlesize: 20px;
/* 遮罩层 */
$mainbgF20: #ffffff20;

/* 盒子背景 */
$boxbg: #ffffff;
$boxpadding: 15px 12px;

$perNav: 300px;

//滚动条的宽度
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
//滚动条的滑块
::-webkit-scrollbar-thumb {
  background-color: #3ab54b70;
  border-radius: 10px;
}

@mixin webkit($type, $value) {
  -webkit-#{$type}: $value;
  -moz-#{$type}: $value;
  -ms-#{$type}: $value;
  -o-#{$type}: $value;
  #{$type}: $value;
}
